
div.example-input {
    
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-bottom: 0px;

  pre[class*="language-"] {
    margin: 0 0;
  }
}

div.example-output {
    
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    margin-top: 0px;

  pre[class*="language-"] {
    background: lighten($codeBgColor, 10%);
    margin: 0 0;
  }

  .code-copy {
    visibility: hidden;
  }
}

