@require '~vuepress-plugin-tabs/dist/themes/default.styl';
@import 'util';
@import 'buttons';
@import 'layout-center';
@import 'header';
@import 'sidebar';
@import 'video';
@import 'code-copy';
@import 'with-output';

html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// apply scrolling by default excluding firefox due to trigger issues
html.smooth-scroll {
	scroll-behavior: smooth;
}

@supports (-moz-appearance: none) {
	html.smooth-scroll {
		scroll-behavior: auto;
	}
}

#app {
	.navbar {
		position: sticky;
	}

	.navbar .logo {
		height: 2.5rem;
		margin: 0;
		padding: 1px 3px 0px 0;
		vertical-align: top;
	}

	.site-name {
		font-size: 1.5rem;
		letter-spacing: -0.05rem;
		// TODO: replace
		background: url('/images/filecoin-header-text.svg') no-repeat;
		background-position-y: -2px;
		text-indent: -99999px;
		min-width: 180px;
		min-height: 47px;
	}

	@media (min-width: $MQMobile) {
		.page-nav {
			padding: 2rem 0 0 0;
		}
	}
}

.custom-block.callout {
	background-color: lighten($badgeTipColor, 95%);
	padding: 0.1rem 1.5rem;
	border-color: $accentColor;
	border-left-width: 0.5rem;
	border-left-style: solid;
}

.custom-block.right {
	float: right;
	padding: 1em 0 1em 1em;
}

.custom-block.left {
	float: left;
	padding: 1em 1em 1em 0em;
}

:root {
	--accent-color: $accentColor;
	--text-color: $textColor;
	--border-color: $borderColor;
	--code-bg-color: $codeBgColor;
	--highlight-color: $highlightColor;
}

th, td {
	text-align: left;
	vertical-align: top;
}

table.comparison {
	table-layout: fixed;
}

table.comparison > tr, table.comparison > tr > th, table.comparison > tr > td {
	border: none;
}

table.comparison > tr > td:nth-child(1) {
	font-weight: bold;
}

table.comparison > tr > th:nth-child(1) {
	width: 25%;
}

table.comparison > tr > th {
	width: calc(((100% - 25%) / 2));
}

table.comparison table {
	margin: 0.4rem 0;
}

table.comparison table th, table.comparison table td {
	padding: 0.2em 0.5em;
}
