ul > li > a.sidebar-link {
	color: $sidebarTextColor;
	font-weight: 500;
}

ul.sidebar-links > li > a {
	color: inherit;
}

header.navbar .nav-links {
	display: none;
}

.sidebar {
	.nav-links {
		display: block !important;

		.nav-item {
			margin-left: 0;
		}
	}

	.sidebar-heading {
		font-weight: bold !important;
	}

	.sidebar-group.is-sub-group a.sidebar-link {
		margin-bottom: 0.2rem;
	}

	.sidebar-group.is-sub-group > .sidebar-heading:not(.clickable) {
		text-transform: uppercase;
		font-size: 0.8rem;
		line-height: 2em;
	}
}

.icon.outbound {
	padding-left: 0.15rem;
}

// sidebar scrollbar style
.sidebar-links::-webkit-scrollbar {
	width: 5px;
	position: fixed;
	right: 0;
}

.sidebar-links::-webkit-scrollbar-thumb {
	background: transparent;
	transition: background-color 2s;
}

.sidebar-links::-webkit-scrollbar-thumb:hover, .sidebar-links:hover::-webkit-scrollbar-thumb {
	background: $borderColor;
}

@media (max-width: $MQMobile) {
	.sidebar {
		width: 80vw;
	}
}

@media (min-width: $MQMobile) {
	aside.sidebar {
		display: flex;
		flex-direction: column;
		height: 100vh;
		overflow: hidden;

		> .sidebar-links {
			a {
				&.active {
					opacity: 1;

					a {
						opacity: 1;
					}
				}

				opacity: 0.5;
				transition: opacity 0.5s;
			}

			&:hover a {
				opacity: 1;
			}

			overflow: auto;
			padding-bottom: 6em;
		}

		.nav-links, .nav-links a {
			display: block;

			&:hover, &.router-link-active {
				color: $textColor;
			}
		}

		.nav-item > a:not(.external) {
			&:hover, &.router-link-active {
				margin-bottom: 0px;
				border-bottom: none;
				color: $accentColor;
			}
		}
	}
}