ul > li > a.sidebar-link {
	color: $sidebarTextColor;
	font-weight: 500;
}

header.navbar .nav-links {
	display: none;
}

#app .sidebar {
	.nav-links {
		display: block !important;

		.nav-item {
			margin-left: 0;
			font-size: 1em;
		}
	}

	.sidebar-group-items {
		font-size: 1em !important;

		> li .sidebar-link {
			font-size: 0.95em !important;
		}
	}

	> .sidebar-links > li > a.sidebar-link, .sidebar-heading {
		font-weight: bold !important;
		font-size: 1em;
	}

	.sidebar-group.is-sub-group a.sidebar-link {
		margin-bottom: 0.2rem;
	}

	.sidebar-group.is-sub-group > .sidebar-heading:not(.clickable) {
		text-transform: uppercase;
		font-size: 0.8rem;
		line-height: 2em;
	}
}

.icon.outbound {
	padding-left: 0.15rem;
}

// sidebar scrollbar style
.sidebar-links::-webkit-scrollbar {
	width: 5px;
	position: fixed;
	right: 0;
}

.sidebar-links::-webkit-scrollbar-thumb {
	background: transparent;
	transition: background-color 2s;
}

.sidebar-links::-webkit-scrollbar-thumb:hover, .sidebar-links:hover::-webkit-scrollbar-thumb {
	background: $borderColor;
}

@media (max-width: $MQMobile) {
	.sidebar {
		width: 80vw;
	}
}

// style selected sidebar item based on route class
html.route-index {
	.sidebar .nav-links .nav-item:first-child {
		a.nav-link {
			color: $accentColor;
		}
	}
}

@media (min-width: $MQMobile) {
	aside.sidebar {
		display: flex;
		flex-direction: column;
		overflow: hidden;
		box-sizing: border-box;

		> .sidebar-links {
			padding: 1rem 0;
			box-sizing: border-box;
			flex-grow: 1;

			> li:last-child {
				margin-bottom: 1rem;
			}

			a {
				&.active {
					opacity: 1;

					a {
						opacity: 1;
					}
				}

				opacity: 0.7;
				transition: opacity 0.5s;
			}

			&:hover a {
				opacity: 1;
			}

			overflow: auto;
		}

		.nav-links, .nav-links a {
			display: block;
		}

		.nav-item > a:not(.external) {
			&:hover, &.router-link-active {
				margin-bottom: 0px;
				border-bottom: none;
				color: $accentColor;
			}
		}
	}
}