{{ define "main" }}
<section class="section container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <h1 class="mt-0">Filecoin Docs</h1>
            <p class="lead">I remember the day I got my first paycheck, there was a cave-in in one of the mines. Hey, just so you know: it's NOT that common, it DOESN'T happen to every guy, and it IS a big deal! Here come the meat sweats...</p>
            <p class="lead"><a href="/about-filecoin/what-is-filecoin/"><b>Learn about Filecoin→</b></a></p>
        </div>
        <div class="col-lg-4 text-center pt-3 d-none d-lg-block">
            <img style="max-height:250px;" src="logos/Filecoin-symbol.png" />
        </div>
    </div>
</section>
{{ end }}


{{ define "sidebar-prefooter" }}
    {{ if eq $.Site.Language.LanguageName "English" }}
    {{ end }}
{{ end }}


{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
    <div class="row justify-content-center text-center">
        <div class="col-lg-9">
            {{- .Content -}}
        </div>
    </div>
</section>
{{ end }}
