<form>
  <div class="form-row align-items-center">
    <div class="col-auto">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">From address</div>
        </div>
        <input id="from" type="text" class="form-control" id="inlineFormInputGroup">
      </div>
    </div>
    <div class="col-auto">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">To address</div>
        </div>
        <input id="to" type="text" class="form-control" id="inlineFormInputGroup">
      </div>
    </div>
    <div class="col-auto">
      <button class="btn btn-primary mb-2" onclick="checkInputs()">Submit</button>
    </div>
  </div>
</form>

<pre><code id="output"></code></pre>

<script>
    function checkInputs() {
        let from = document.getElementById("from").value;
        let to = document.getElementById("to").value;
        let output = document.getElementById("output");

        if ((from.startsWith("f") || from.startsWith("F")) && (to.startsWith("f") || to.startsWith("F"))) {
            output.textContent = "Filecoin to Filecoin";
        } else if ((from.startsWith("f") || from.startsWith("F")) && to.startsWith("0x")) {
            output.textContent = "Ethereum to Filecoin";
        } else if (from.startsWith("0x") && (to.startsWith("f") || to.startsWith("F"))) {
            output.textContent = "Ethereum to Ethereum";
        } else if (from.startsWith("0x") && to.startsWith("0x")) {
            output.textContent = "Filecoin to Ethereum";
        } else if (!from.startsWith("f") && !from.startsWith("F") && !from.startsWith("0x")) {
            output.textContent = "The 'From Address' field must be a Filecoin or Ethereum address.";
        } else if (!to.startsWith("f") && !to.startsWith("F") && !to.startsWith("0x")) {
            output.textContent = "The 'To Address' field must be a Filecoin or Ethereum address.";
        } else {
            output.textContent = "ERROR";
        }
    }
</script>
