<div class="position-relative text-center my-5 py-1 bg-light">
    <div class="col-md-12 mx-auto my-5">
        <h2>Building with smart contracts?</h2>
            <p class="lead fw-normal">The Filecoin network now supports ethereum-compatible smart contracts!</p>
        <a class="btn btn-outline-secondary" href="/developers/smart-contracts/quickstart">Build now!</a>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>
