<div class="alert alert-warning d-flex" role="alert">
    <div class="flex-shrink-1 alert-icon">
        ⚠️
    </div>
    <div class="w-100"> <p><strong>Get more help:</strong></p>
        <p style="margin-bottom: 0px;"><!--  TODO STEF JOHNNY these are the right links but need to be styled like this issue - which is beyond my 90s html skills :) https://github.com/filecoin-project/filecoin-docs/issues/1834 --> 
            <a href="https://hub.filecoin.io/form-storage-provider-onboarding">Request a chat with an expert</a><br>
            <a href="https://filecoinproject.slack.com/app_redirect?channel=global-storage-provider-community">Join the Storage Provider Slack channel</a><br>
            <a href="https://github.com/filecoin-project/filecoin-docs/issues/new/choose">Spotted a bug? Something not clear? Give us feedback on these docs</a>
        </p>
    </div>
</div>
