<!-- Create array/map of all possible tooltips. -->
{{ $tooltips := dict
    "blake2b" "BLAKE2 is a set of cryptographic hash functions. BLAKE2B is optimized for 64-bit platforms."
    "dApps" "Decentralized applications that don't rely on centralized infrastructure."
    "IPFS" "The InterPlanetary File System (IPFS) is a peer-to-peer protocol for sharing and storing files on the internet, designed to be decentralized and distributed."
    "leb128" "Little Endian Base 128 (leb128) is a variable-length code compression used to store arbitrarily large integers in a small number of bytes." 
    "Lotus" "The reference node implementation for the filecoin network."
    "Lily" "Software designed to simplify the recording of blockchain data."
    "web3" "A new iteration of the World Wide Web which incorporates concepts such as decentralization, blockchain technologies, and token-based economics."
}}

<!-- Pick the item from the array/map we want based on -->
<!-- what is inside the quotes in the markdown shortcode. -->
{{ $value := .Get 0 }}
{{ $description := index $tooltips $value }}

<!-- Output the HTML we need to display the tooltip. -->
<a class="tooltip-multiline tooltip-text" href="#" data-tooltip="{{ $description | safeHTML }}">{{ $value | safeHTML }}</a>

