<!-- Create array/map of all possible tooltips. -->
{{ $tooltips := dict
    "block reward" "FIL awarded based on the amount of storage power a storage provider is able to provide, weighted by quality multipliers of the different deal types stored."    "consensus" " Any procedure used to achieve agreement, trust, and security in a decentralized network."
    "cryptographic proving systems" "A cryptographic protocol where a prover proves something to a verifier. Used by all blockchains."
    "DataCap" "A resource that can be added storage deals, increasing that deal's value for storage providers by a factor of 10."
    "dApps" "Decentralized applications that don't rely on centralized infrastructure."
    "epoch" "The fundamental unit of time in the Filecoin blockchain, currently 30 seconds in length."
    "IPFS" "The InterPlanetary File System (IPFS) is a peer-to-peer protocol for sharing and storing files on the internet, designed to be decentralized and distributed."
    "Lotus" "The reference node implementation for the filecoin network."
    "Lily" "Software designed to simplify the recording of blockchain data."
    "Nonce" "An identifying number for every message or transaction; derived from the phrase 'number only used once'."
    "partition" "A group of 2349 sectors."
    "power" " A measurement of the amount of storage provided over time by a storage provider."
    "proving period" "24 hours, broken down into 30 minute, non-overlapping deadlines, for a total of 48 deadlines."
    "sector" "The basic units of storage on Filecoin. Sectors have standard sizes, as well as well-defined time-increments for commitments, and can contain pieces from multiple deals and clients."
    "web3" "A new iteration of the World Wide Web which incorporates concepts such as decentralization, blockchain technologies, and token-based economics."
}}

<!-- Pick the item from the array/map we want based on -->
<!-- what is inside the quotes in the markdown shortcode. -->
{{ $value := .Get 0 }}
{{ $description := index $tooltips $value }}

<!-- Output the HTML we need to display the tooltip. -->
<a class="tooltip-multiline tooltip-text" href="#" data-tooltip="{{ $description | safeHTML }}">{{ $value | safeHTML }}</a>

