/* Aileron - latin */
@font-face {
  font-family: "Aileron";
  font-style: normal;
  font-weight: 100;
  font-display: auto;
  src:
    url("/fonts/aileron/Aileron-UltraThin.otf") format("opentype")
}

/* Aileron - latin */
@font-face {
  font-family: "Aileron";
  font-style: normal;
  font-weight: 200;
  font-display: auto;
  src:
    url("/fonts/aileron/Aileron-Thin.otf") format("opentype")
}

/* Aileron - latin */
@font-face {
  font-family: "Aileron";
  font-style: normal;
  font-weight: 300;
  font-display: auto;
  src:
    url("/fonts/aileron/Aileron-Light.otf") format("opentype")
}

/* Aileron - latin */
@font-face {
  font-family: "Aileron";
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src:
    url("/fonts/aileron/Aileron-Regular.otf") format("opentype")
}

/* Aileron - latin */
@font-face {
  font-family: "Aileron";
  font-style: normal;
  font-weight: 500;
  font-display: auto;
  src:
    url("/fonts/aileron/Aileron-SemiBold.otf") format("opentype")
}

/* Aileron - latin */
@font-face {
  font-family: "Aileron";
  font-style: normal;
  font-weight: 600;
  font-display: auto;
  src:
    url("/fonts/aileron/Aileron-Bold.otf") format("opentype")
}

/* Aileron - latin */
@font-face {
  font-family: "Aileron";
  font-style: normal;
  font-weight: 700;
  font-display: auto;
  src:
    url("/fonts/aileron/Aileron-Heavy.otf") format("opentype")
}

/* Aileron black - latin */
@font-face {
  font-family: "Aileron";
  font-style: normal;
  font-weight: 800;
  font-display: auto;
  src:
    url("/fonts/aileron/Aileron-Black.otf") format("opentype")
}

/* jost-regular - latin */
@font-face {
  font-family: "Aileron";
  font-style: normal;
  font-weight: 500;
  font-display: auto;
  src:
    url("/fonts/aileron/Aileron-Black.otf") format("opentype")
}
